In [1]:
import pandas as pd
import numpy as np
from sklearn.ensemble import RandomForestClassifier
from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer

In [2]:
from sklearn.model_selection import train_test_split

In [13]:
df=pd.read_csv("../dataset.csv")
df.head()

      password strength
0     kzde5577        1
1     kino3434        1
2    visi7k1yr        1
3     megzy123        1
4  lamborghin1        1

In [14]:
df.isnull().sum()

password     3
strength    63
dtype: int64

In [15]:
df=df.dropna()

In [16]:
strengthMap={"0":"Weak", "1":"Medium", "2":"Strong"}
df["strength"]=df["strength"].map(strengthMap)
df.head()

      password strength
0     kzde5577   Medium
1     kino3434   Medium
2    visi7k1yr   Medium
3     megzy123   Medium
4  lamborghin1   Medium